* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav-min-height {
  min-height: 60px;
}

@screen sm {
  .nav-min-height {
    min-height: 90px;
  }
}

.min-height-container {
  min-height: 600px;
}

.pool-container {
  max-width: 90vw;
}

@screen sm {
  .pool-container {
    max-width: 90vw;
  }
}

@screen sm {
  .pool-container {
    max-width: 880px;
  }
}

@screen lg {
  .pool-container {
    max-width: 1200px;
  }
}

.modal-max-width {
  max-width: 640px;
}

.modal-wrapper {
  min-height: 300px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-content-container {
  max-height: 100vh;
}

@screen sm {
  .modal-wrapper {
    max-height: calc(100vh - 1px);
  }
}

.page {
  min-height: 400px;
  width: 100%;
}

.section-min-height {
  min-height: 70vh;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  pointer-events: none;
}

/* canvas[resize] {
  width: 100%;
  height: 100vh;
} */
