::placeholder,
.input::placeholder,
.textarea::placeholder {
  color: rgba(108, 49, 245, 0.9);
  transition: all 100ms ease-in-out;
}

::placeholder,
.input:hover::placeholder,
.input:focus::placeholder,
.input:active::placeholder,
.textarea::placeholder {
  color: rgba(108, 49, 245, 0.4);
}

:focus {
  outline: rgba(147, 106, 241, 1) dashed 1px;
}

* {
  --flashyGradient: linear-gradient(40deg, #ff62cc 10%, #f7fe0c 40%, #2af787 60%, #00f0d0 80%);
  --luckiestWinnersGradient: linear-gradient(40deg, #4c249f 0%, #1c3857 50%, #650380 100%);
  --newGradient: linear-gradient(
    80deg,
    #4c249f -50%,
    #17e1fd 20%,
    #ff77e1 40%,
    #ff77e1 70%,
    #ffeb77 90%,
    #fff177
  );
}

html {
  height: 100%;
}

body {
  height: 100%;
}

html,
body,
table {
  scroll-behavior: smooth;
}

ul.pool-list {
  @apply ml-4 mt-2 list-disc list-outside text-xxs sm:text-xs text-accent-1;
}

@screen sm {
  ul.pool-list {
    @apply ml-8;
  }
}

@screen lg {
  ul.pool-list {
    @apply ml-0;
  }
}

p {
  @apply mb-2;
}

#video-player_popover_container {
  pointer-events: none;
}

body.wistia_popover_mode #video-player_popover_container {
  pointer-events: auto;
}

body.wistia_popover_mode #video-player_popover_container {
  overflow: hidden;
}

.wistia_popover_mode {
  overflow: hidden;
}

.wistia_popover_overlay {
  outline: 0 !important;
  width: 100% !important;
}

.wistia_popover_embed {
  border-image-width: none !important;
  top: 10vh !important;
  box-shadow: none !important;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  outline: 0 !important;
}

.w-video-wrapper {
  background: #200546 !important;
}

.wistia_placebo_close_button {
  display: none;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

::selection {
  background-color: #79ffe1;
  color: var(--color-text-inverse);
}

hr {
  border: 0;
  height: 0;
  border-top: 3px solid rgba(60, 8, 165, 0.3);
  border-bottom: none;
  background: transparent;
  margin: 20px auto;
  width: 90%;
}

a,
button {
  @apply text-highlight-3;
  transition: all 75ms ease-in-out;
}

a:hover,
button:hover {
  @apply text-inverse;
}

label {
  @apply block cursor-pointer mt-6 mb-1 text-left;
}

form:after {
  content: '';
  display: table;
  clear: both;
}

button {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}

button[disabled] {
  @apply opacity-20 cursor-not-allowed !important;
}

input:not([type='submit'])[disabled],
textarea[disabled] {
  @apply border-transparent opacity-50 cursor-not-allowed !important;
}

input[type='submit'][disabled] {
  @apply border-transparent cursor-not-allowed;
}

input:not([type='submit'])[readOnly] {
  @apply cursor-not-allowed !important;
}

input[type='submit'][disabled] {
  @apply border-transparent cursor-not-allowed;
}

.is-etherscan-arrow {
  height: 1em;
  position: relative;
  top: -2px;
  width: 1em;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-luckiest-winners-gradient {
  background: var(--luckiestWinnersGradient);
}

.text-flashy {
  background: var(--flashyGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 200% auto;
  animation: cycleBackgroundPos 6000ms infinite steps(100);
}

.text-new-gradient {
  background: var(--newGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 200% auto;
  animation: cycleBackgroundPos 10s infinite steps(100);
}

@keyframes cycleBackgroundPos {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer--container {
  background-color: #0c021b;
}

.footer a {
  color: var(--color-text-green) !important;
}

.footer a:hover {
  color: white !important;
}

.footer .img-link:hover {
  @apply border-0 no-underline;
}

.footer--pool-logo-container {
  width: 133px;
}

.nav--pool-logo-container {
  position: relative;
  left: -6px;
}

@screen sm {
  .nav--pool-logo-container {
    left: 0;
  }
}

.pool-logo {
  height: 52px;
  position: relative;
  z-index: 1;
  width: 133px;
}

.pool-logo:hover {
  background-color: transparent;
}

.banner-text {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;
}

@screen xs {
  .banner-text {
    font-size: calc(2vw + 30px);
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

@screen sm {
  .banner-text {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

@screen lg {
  .banner-text {
    margin-top: 0.75rem;
  }
}

.banner-text--small {
  @apply pt-4;
  font-size: calc(1.5vw + 13px) !important;
}

.button-scale:hover,
.button-scale:focus,
.button-scale:active {
  transform: scale(1.02) translateY(-3px);
}

.mobile-nav-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  background: #190742;
  z-index: 40;
}

.hamburger-button {
  @apply shadow-4xl;
  display: flex;
  align-items: center;
  justify-items: center;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: 33px;
  left: calc(100vw - 85px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 50;
  background: #190742;
}

.hamburger-button.open {
  @apply bg-green;
  transition: background 0.3s ease-in-out;
}

.hamburger-button > svg {
  margin: auto;
}

ul.nav-mobile-list,
li.nav-mobile-listitem {
  margin: 0;
  padding: 0;
  z-index: 50;
}

ul.nav-mobile-list {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li.nav-mobile-listitem {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bg-vid-holo {
  background-image: url('/bg-green-tsunami@2x.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@screen sm {
  .bg-vid-holo {
    background-position: top right;
    padding-bottom: 65%;
    width: 366px;
  }
}

@screen lg {
  .bg-vid-holo {
    width: 546px;
  }
}

.bg-vid-holo--inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-vid-circle {
  /* @apply shadow-elevation; */
  background: rgba(76, 36, 159, 0.8);
  height: 104px;
  width: 104px;
}

.bg-vid-holo:hover .bg-vid-circle {
  background: rgba(53, 240, 208, 0.8);
}

.bg-vid-tri {
  background-image: url('/bg-vid-tri.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: -6px;
  height: 42px;
  width: 35px;
}

.bg-how-art-waves {
  background-image: url('/bg-how-art-waves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

@screen sm {
  .bg-how-art-waves {
    min-height: 800px;
  }
}

.bg-overlay {
  background-image: linear-gradient(40deg, #4c249f 30%, #9c48ba 100%) !important;
}

.collapsible-target:hover * {
  color: var(--color-text-white);
}

.collapsible-content {
  overflow: hidden;
  transition: max-height 100ms ease-out;
  max-height: 0;
}

.collapsible-content--active {
  max-height: 1000px;
  transition: max-height 500ms ease-in;
  height: auto;
}

.discord-button:hover path {
  fill: var(--color-bg-blue-2);
}

.community-button:hover path {
  stroke: var(--color-text-highlight-1);
}

.defi-pulse-image {
  max-width: 280px;
}

@screen xs {
  .defi-pulse-image {
    max-width: 320px;
  }
}

@screen sm {
  .defi-pulse-image {
    max-width: 400px;
  }
}

.purple-pink-gradient-animation {
  @apply bg-body;
}

.purple-pink-gradient-animation:after {
  --borderFlashyWidth: 2px !important;
  animation-duration: 4000ms !important;
  background-image: linear-gradient(40deg, #4c249f 30%, #9c48ba 81%) !important;
}

.bg-developers {
  background-image: linear-gradient(180deg, #32025e 0%, #150429 50%) !important;
}

.bg-developers-art-waves {
  background-image: url('/bg-developers-art-waves@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 300px;
  width: 100%;
}

@screen xs {
  .bg-developers-art-waves {
    min-height: 400px;
  }
}

@screen sm {
  .bg-developers-art-waves {
    min-height: 800px;
  }
}

.bg-holographic {
  background-image: url('/bg-holographic@2x.png');
  background-size: cover;
  width: 100%;
}

.bg-prize-amount {
  background-image: url('/bg-prize-amount@2x.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  /* 16:9 */
  /* padding-bottom: 56.25%; */
  /* height: 0; */

  /* padding-bottom: 45%; */
  /* height: 200px; */
  overflow: hidden;
  position: relative;
  width: 100%;
}

@screen xs {
.bg-prize-amount {
  height: 260px;
}
}
@screen sm {
.bg-prize-amount {
  height: 250px;
}
}
@screen lg {
.bg-prize-amount {
  height: 290px;
}
}

.bounce {
  animation-delay: 2s;
  animation: bounce-7 10s infinite cubic-bezier(0.78, 0.84, 0.42, 1);
}

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  2% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  6% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  10% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  11% {
    transform: scale(1, 1) translateY(-7px);
  }
  13% {
    transform: scale(1, 1) translateY(0);
  }
  20% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@screen sm {
  .sm-max-width-hero {
    max-width: 446px;
  } 
}
