.bg-slick-slide--pool-party {
  background-color: #200e41;
}

.slick-track {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center .slick-current a {
  pointer-events: all;
}

:not(.slick-current) .wrapper {
  cursor: pointer;
}

.center a {
  pointer-events: none;
}

.center a,
.center a:focus,
.center a:active {
  outline: none;
}

.slick-slide.slick-active.slick-current img {
  filter: none;
  opacity: 1;
  pointer-events: all;
  transform: scale(1.05);
}

.slick-slide.slick-active.slick-current a:hover img {
  opacity: 0.8;
}

.slick-slide.slick-active img {
  filter: blur(2px);
  opacity: 0.8;
}

.slick-slide img {
  filter: blur(2px);
  opacity: 0.3;
  pointer-events: none;
  transition: all 1000ms ease;
}

.slick-arrow.slick-prev {
  @apply z-20 absolute;
  left: 20px;
  top: 50%;
}

.slick-arrow.slick-next {
  @apply z-20 absolute;
  right: 20px;
  top: 50%;
}
